.admin-panel {
  width: 100%;
  height: min(100vh);
  margin: 0px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
.admin-panel h2 {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}
  
.allusers-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  
.each-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
  
.each-user h3 {
  margin: 0;
  color: #555;
}
  
.each-user button {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.each-user button:hover {
  background-color: #0056b3;
}
  
.session-section {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
.session-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
  
.session-heading h3 {
  margin: 0;
  color: #333;
}
  
.session-heading button {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.session-heading button:hover {
  background-color: #c82333;
}
  
.session-details-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  
.session-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
.session-detail div h4 {
  margin: 0;
  color: #333;
  font-size: 1rem;
}
  
.session-detail button {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.session-detail button:hover {
  background-color: #218838;
}

  
@media screen and (max-width: 400px) {
  .each-user button {
    padding: 8px 12px;
    font-size: 0.84rem;
  }
}